<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victor Luz - Desenvolvedor Jr</title>
    <link rel="shortcut icon" href="img/fav.png">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <a href="#sobre">Sobre mim</a> </li>
                <li> <a href="#hobbies">Hobbies</a> </li>
                <li> <a href="#projetos">Projetos</a> </li>
                <li> <a href="#contato">Contato</a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="sobre-mim">
            <div id="img-perfil">
                <img src="/static/img/perfiledit.png" alt="Imagem de perfil - Victor Luz">
            </div>
            <div id="texto-sobremim">
                <h2>Um pouco sobre mim</h2>

                <p>
                    Após uma longa jornada de idas em vindas de cursos, me encontrei na coisa mais óbvia, que sempre
                    esteve no meu dia-a-dia, mas nunca enxerguei: o vasto mundo da tecnologia .</br>
                    Iniciei os estudos na área de programação por grande influência da Blue Edtech, e a partir disso,
                    segui boa parte dos conselhos dos mentores da blue, buscar conhecimento em outras instituições,
                    fóruns, usar todo o poder da web, para aprender, praticar, aperfeiçoar e ajudar a comunidade Dev.</br>
                    A partir disso, me inscrevi no curso superior em Análise e Desenvolvimento de sistemas na Faculdade
                    Descomplica e inicie bootcamps na plataforma Digital Innovation One, e esse é só o início de uma
                    grande caminhada.
                </p>
            </div>


        </section>

        <section id="hobbies">
            <img src="/static/img/hobbies.png" alt="Imagem de varios Joysticks de videogame">

            <div id="texto-sobrehobbies">
                <h1>Jogos e a minha vida</h1></br>
                <p> Desde os 4 anos os jogos eletrônicos fazem parte da minha história, foram muitas horas dedicadas, muitos personagens vividos, muitas vidas perdidas, várias conquistas realizadas e o mais importante todas as amizades feitas. </br>
                    Os Jogos foram meus companheiros nas horas felizes e tristes, e com eles muito aprendi. Esporte?...Arte?... Quem sabe...</br>
                    Video games para mim são mais profundos do que uma lógica aplicada a uma interface gráfica intuitiva, e tenho um grande orgulho de ter acompanhado toda a sua evolução e ter dedicado tanto tempo a esse lazer.
                    .</p>
            </div>

        </section>

        <section id="projetos">
            <div>
                <img src="/static/img/imagem-projeto1.jpg" alt="Imagem Ilustrativa do projeto 1">
                <h2>Projeto Pedra, Papel, Tesoura em Python</h2>
                <p>O projeto consiste no jogo de Pedra papel ou tesoura, com uma interface gráfica simplificada em
                    console onde o usuário define quantas vezes quer jogar contra a máquina.
                    O Projeto inclui efeitos de som personalizados.</p>
                <button
                    onclick="window.location.href = 'https://github.com/vitinop/BLUE-T3C6-Atividades-Modulo1/tree/main/Projetos/Projeto_2-Pedra_Papel_Tesoura'">Veja
                    mais</button>
            </div>

            <div>
                <img src="/static/img/imagem-projeto2.jpg" alt="Imagem Ilustrativa do projeto 2">
                <h2>Projeto Jogo de Dados em Python</h2>
                <p>O projeto consiste em um jogo de aleatoriedade, onde os 4 jogadores lançam um dado de 6 faces, e
                    exibido o resultado de quem venceu mais rodadas.
                    O Projeto inclui efeitos de som personalizados.</p>
                <button
                    onclick="window.location.href = 'https://github.com/vitinop/BLUE-T3C6-Atividades-Modulo1/tree/main/Projetos/Projeto_3-Jogo_de_Dados'">Veja
                    mais</button>
            </div>
            <div>
                <img src="/static/img/imagem-projeto3.jpg" alt="Imagem Ilustrativa do projeto 3">
                <h2>Simulador de votação em Python</h2>
                <p>O projeto consiste em simular uma urna eletrônica, com 4 candidatos e ao final da votação é exibido o
                    resultado da votação, incluindo votos nulos e brancos.
                    O Projeto inclui efeitos de som personalizados
                </p>
                <button
                    onclick="window.location.href = 'https://github.com/vitinop/BLUE-T3C6-Atividades-Modulo1/tree/main/Projetos/Projeto_4-Simulador_de_vota%C3%A7%C3%A3o'">Veja
                    mais</button>
            </div>
            <div>
                <img src="/static/img/imagem-projeto4.jpg" alt="Imagem Ilustrativa do projeto 4">
                <h2>Projeto <br /> Tamagoshi </h2>
                <p>O projeto consiste em simular um tamagoshi com uma intefacevisual amigável para o usuario, utilizando
                    linha de comando.
                    Como requisito obrigatório, neste projeto foi feito o uso de classes e todo material estudado no
                    módulo 1 da BlueEdTech. </p>
                <button
                    onclick="window.location.href = 'https://github.com/vitinop/Projeto-ficcao-interativa-Blue'">Veja
                    mais</button>
            </div>
            <div>
                <img src="/static/img/imagem-projeto5.png" alt="Imagem Ilustrativa do projeto 5">
                <h2>Projeto de Humor em HTML-JS-CSS </h2>
                <p>O projeto consiste em criar e estilizar uma interface onde o usuário pressiona um botão para gerar a
                    mudança de humor do personagem. </p>
                <button
                    onclick="window.location.href = 'https://github.com/vitinop/BLUE-T3C6-Atividades-Modulo2/tree/main/Projeto1_Humor-Tema_Witcher3'">Veja
                    mais</button>
            </div>
        </section>


        <section id="contato">
            <form action="/send" method="POST">
                <label for="nome">Nome:</label>
                <input type="text" placeholder="Digite seu nome" id="nome" name="nome" />
                <br />

                <label for="email">E-mail:</label>
                <input type="email" placeholder="Digite seu e-mail" id="email" name="email" />
                <br />

                <label for="msg">Mensagem:</label>
                <textarea cols="30" rows="10" placeholder="Digite sua mensagem" name="mensagem" id="mensagem"
                    style="margin: 0px 0px 19.1875px; width: 409px; height: 347px;"></textarea>
                <br />
                <button type="submit" id="enviar">Enviar Mensagem</button>
            </form>
        </section>

    </main>


    <footer>
        <h2> Conecte-se comigo</h2>
        <section id="social">
            <div>
                <a href="https://www.twitch.tv/viitinlive" target="_blank">
                    <img src="/static/ico/twitch.png" alt="Ícone de redirecionamento para Twitch">
                </a>
                <a href="https://steamcommunity.com/id/vitiin_luz/?l=portuguese" target="_blank">
                    <img src="/static/ico/steam.png" alt="Ícone de redirecionamento para Steam">
                </a>
                <a href="https://twitter.com/vitiin_luz" target="_blank">
                    <img src="/static/ico/twitter.png" alt="Ícone de redirecionamento para o Twitter">
                </a>
                <a href="https://www.facebook.com/viitiinluz/" target="_blank">
                    <img src="/static/ico/facebook.png" alt="Ícone de redirecionamento para o Facebook">
                </a>
                <a href="https://github.com/vitinop" target="_blank">
                    <img src="/static/ico/github.png" alt="Ícone de redirecionamento para o GitHub">
                </a>
                <a href="https://www.linkedin.com/in/victor-fernando-moura-da-luz-santos-7a531068/" target="_blank">
                    <img src="/static/ico/linkedin.png" alt="Ícone de redirecionamento para o LinkedIn">
                </a>
                <a href="https://discord.com/users/242405532399304714" target="_blank">
                    <img src="/static/ico/discord.png" alt="Ícone de redirecionamento para o Discord">
                </a>
            </div>
        </section>
        <p>Todos os direitos reservados: Victor Luz ™</p>
    </footer>
    <script type="text/javascript" src="/static/script.js"></script>
</body>

</html>